<%= simple_form_for [@post, @comment || Comment.new], :remote => true do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :body , :as => :text%>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>