@import "compass/css3/border-radius";

#flash_notice,
#flash_alert {
  @include border-radius();
  border: 1px solid #CCC;
  padding: 10px;
}

#flash_notice {
  background: #9D9;
  border-color: #6B6;
}

#flash_alert {
  background: #D99;
  border-color: #B66;
}